iteracion 3/NoMasAcc2.0/NoMasAcc2.0/Service References/ServicioReportes/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62005/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DALC.modelo" />
  <xs:element name="ingresarReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingresarReporteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaReporteCli">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaReporteCliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DALC.modelo" minOccurs="0" name="listaReporteCliResult" nillable="true" type="q1:ArrayOfReporteCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarReporteGlobal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarReporteGlobalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingresarReporteGlobalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarReporteGlo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarReporteGloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DALC.modelo" minOccurs="0" name="listarReporteGloResult" nillable="true" type="q2:ArrayOfReporteGlobal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>